<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách người dùng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Danh sách người dùng</h2>
    <form th:action="@{/admin/user/search}" method="post">
        <div class="input-group">
            <label>
                <input type="text" class="form-control" placeholder="Search..." name="keyword">
            </label>
            <div class="input-group-append mx-2">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <br><br>
    <a class="btn btn-primary" th:href="@{/admin/user/new}">Thêm mới</a>
    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Tài khoản</th>
            <th>Vai trò</th>
            <th>Trạng thái</th>
            <th>Điều chỉnh</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="!${users}">
            Không có người dùng đăng ký
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.fullname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.status}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/user/update (id = ${user.id})}">Sửa</a>
                <a class="btn btn-warning" th:href="@{/admin/user/info (id = ${user.id})}">Chi tiết</a>
                <a class="btn btn-danger" th:href="@{/admin/user/delete (id = ${user.id})}" onclick="return confirmDelete();">Xóa</a>
                <a class="btn btn-secondary" th:if="${user.status.equalsIgnoreCase('active')}" th:href="@{/admin/user/lock (id = ${user.id})}" onclick="return confirmLock();">Khóa</a>
                <a class="btn btn-secondary" th:if="${user.status.equalsIgnoreCase('locked')}" th:href="@{/admin/user/unlock (id = ${user.id})}" onclick="return confirmUnlock();">Mở khóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function confirmDelete() {
        return window.confirm("Xác nhận xóa người dùng này?");
    }

    function confirmLock() {
        return window.confirm("Khóa tài khoản này?")
    }

    function confirmUnlock() {
        return window.confirm("Mở khóa tài khoản này?")
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
