<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/popup.css">
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Thông tin chi tiết
        </div>
        <div class="card-body">
          <ul class="list-group" th:object="${donation}">
            <li class="list-group-item"><strong>Mã số:</strong> <p th:text="${donation.code}"></p></li>
            <li class="list-group-item"><strong>Tên quỹ:</strong> <p th:text="${donation.name}"></p></li>
            <li class="list-group-item"><strong>Mô tả:</strong> <p th:text="${donation.description}"></p></li>
            <li class="list-group-item"><strong>Ngày khởi tạo:</strong> <p th:text="${donation.created}"></p></li>
            <li class="list-group-item"><strong>Ngày bắt đầu:</strong> <p th:text="${donation.start}"></p></li>
            <li class="list-group-item"><strong>Ngày kết thúc:</strong> <p th:text="${donation.end}"></p></li>
            <li class="list-group-item"><strong>Tổ chức gây quỹ:</strong> <p th:text="${donation.organization}"></p></li>
            <li class="list-group-item"><strong>Số điện thoại:</strong> <p th:text="${donation.phone}"></p></li>
            <li class="list-group-item"><strong>Trạng thái:</strong> <p th:text="${donation.status}"></p></li>
            <li class="list-group-item"><strong>Số tiền đã ủng hộ:</strong> <p th:text="${donation.total}"></p></li>
          </ul>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Tên nhà hảo tâm</th>
          <th>Số tiền</th>
          <th>Lời nhắn</th>
          <th>Thời gian</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="donate : ${donates}">
          <td th:text="${donate.name}"></td>
          <td th:text="${donate.money}"></td>
          <td th:text="${donate.note}"></td>
          <td th:text="${donate.created}"></td>
        </tr>
        </tbody>
      </table>
      <br><br>
      <button onclick="openPopupForm()" class="btn btn-primary" th:if="!${donation.status.equalsIgnoreCase('closed')}">Quyên góp</button>
      <div id="popupForm" style="display: none;">
        <form id="donateForm" th:action="@{/user/donate}" th:object="${donate}" method="post">
          <div class="form-group">
            <label for="name">Tên người ủng hộ:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Tên của bạn là...">
          </div>
          <div class="form-group">
            <label for="money">Số tiền ủng hộ:</label>
            <input type="number" class="form-control" id="money" th:field="*{money}">
          </div>
          <div class="form-group">
            <label for="note">Ghi chú:</label>
            <textarea class="form-control" id="note" th:field="*{note}" rows="4" placeholder="Chia sẻ những gì bạn đang nghĩ..."></textarea>
          </div>
          <input type="hidden" name="id" th:value="${donation.id}">
          <button class="btn btn-secondary" onclick="closePopupForm()">Đóng</button>
          <button class="btn btn-primary" onclick="submitForm()">Xác nhận</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to open the popup form
  function openPopupForm() {
    const popupForm = document.getElementById("popupForm");
    popupForm.style.display = "block";
  }

  // Function to close the popup form
  function closePopupForm() {
    const popupForm = document.getElementById("popupForm");
    popupForm.style.display = "none";
  }

  // Function to submit the form
  function submitForm() {
    const form = document.getElementById("donateForm");
    form.submit();
    closePopupForm();
  }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
